body{
    background-image: url("broodjes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;

    }
h2 {
    color:white
}
p {
    color:white;
    text-align: center;
    font-size: 30px;


}
a {
    color:white;
    font-size: 30px;
    border: solid blue;
}
li {
    margin: 15px;
}