html {
    height: 100%;
}

body{
    background-color: indianred;
    padding: 0;
    margin: 0;
    height: 100%;
 }

#balk {
    background-color:purple;
    width: 85%;
    height: 15%;
 }

#container {
    background-color: yellow;
    width: 85%;
    height: 88%;
    display: flex;
 }
#menu {
    background-color: blue;
    width: 15%;
    height: 100%;
 }
#bericht {
    background-color: white;
    width: 70%;
    height: 100%;

 }
 #plaatjes {
     background-color: red;
     width: 15%;
     height: 100%;
 }
 .vak1 {
     background-color: cadetblue;
     margin: 10%;
     margin-top: 10px;
     padding: 5%;
     width: 50%;
     height: 25%;
 }
 