body {
    background-image: url(boommetzon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
}

h2 {
    color: white;
}

h3{
color:white;
}

p {
    color: white;
}

.plaatje {
    text-align: center;
    width: 100%;
}

.jouke {
    background-color:blue;
    color:white;
    padding: 10px;
}
